<mat-toolbar color="accent">
    <a routerLink="/home" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu_book</mat-icon>
    </a>
    <span>Test You Self </span>
    <span class="example-spacer"></span>
    <a routerLink="/login" mat-icon-button class="example-icon favorite-icon mr30 "
        aria-label="Example icon-button with heart icon">
        <mat-icon>login</mat-icon>
        Login
    </a>
    <a routerLink="/signup" mat-icon-button class="example-icon mr30" aria-label="Example icon-button with share icon">
        <mat-icon>app_registration
        </mat-icon>
        Register
    </a>

</mat-toolbar>