<div class="bootstap-wrapper">
    <div class="container">
        <div class="row">
            <div class=" form-container col-lg-2 offset-lg-3 ">

                <div class="text-center">
                    <img class="profile-img" src="../../../assets/images/default.png" alt="image is missing ">
                    <h1>Register here!!</h1>
                </div>

                <form>
                    <mat-form-field class="fw" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input  type="text" name="user.username" matInput placeholder="Placeholder">
                    </mat-form-field>

                    <mat-form-field class="fw" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input  type="password" name="user.password" matInput placeholder="Placeholder">
                    </mat-form-field>

                    <mat-form-field class="fw" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input type="text" name="user.firstname" matInput placeholder="Placeholder">
                    </mat-form-field>


                    <mat-form-field class="fw" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input type="text" name="user.lastname" matInput placeholder="Placeholder">
                    </mat-form-field>


                    <mat-form-field class="fw" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" name="user.email" matInput placeholder="Placeholder">
                    </mat-form-field>


                    <mat-form-field class="fw" appearance="outline">
                        <mat-label>Contact Number</mat-label>
                        <input type="number" name="user.phone" matInput placeholder="Placeholder">
                    </mat-form-field>

                    <div class="text-center">
                        <button id="btn-submit" mat-raised-button color="primary" type="submit">SIGN UP</button>
                        <button id="btn-reset" mat-raised-button color="accent" type="reset">CLEAR</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>