<app-navbar></app-navbar>
<div class="bootstap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col col-lg-4 offset-lg-4 ">
                <mat-card>
                    <div class="text-center">
                        <img class="profile-img" src="../../../assets/images/default.png" alt="image is missing ">
                        <h1 class="mt30">Login  here!!</h1>
                    </div>

                    <form>
                        <mat-form-field class="fw" appearance="outline">
                            <mat-label>User Name</mat-label>
                            <input type="text" name="username" matInput placeholder="Placeholder">
                        </mat-form-field>

                        <mat-form-field class="fw" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input type="password" name="password" matInput placeholder="Placeholder">
                        </mat-form-field>
                        <div class="text-center">
                            <button class="mr20" mat-raised-button color="primary" type="submit">Login</button>
                            <label text-color="accent">Not Registered??</label>
                            <a routerLink="/signup"class="ml20" mat-raised-button color="accent" type="reset">Register Now</a>
                        </div>

                    </form>
                </mat-card>

            </div>
        </div>
    </div>
</div>